.div-logo {
  display: flex;  
  margin-top: 4rem;
  margin-left: 10rem;

}

header {
  display: flex;
  flex-direction: row; 
  align-items: center;
  
}

.logo1{
  max-width: 100%; 
  width: 4rem;
  margin-left: 4rem;
}

.logo2 {
  max-width: 100%; 
  width: 15rem;

}

.titulo{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.76);
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;   
  margin-top: 7rem;        
      
}

.img-proced-1 {
  max-width: 90%; 
  justify-content: center;
  margin-left: 5rem;
  margin-top: 2rem;
}

h3{
  margin-left: 5rem;
  margin-top: 8rem;
  color: rgba(3, 121, 3, 0.726);
}

p{
  margin-left: 5rem;
  margin-top: -15px;
  color: rgba(34, 36, 34, 0.87);
}

