.div-logo {
  display: flex;  
  margin-top: 4rem;
  align-items: center;
  justify-content: center;

}

.button {
  justify-content: center;
  position: fixed;
  right: 20px; 
  bottom: 20px; 
  color: rgb(2, 82, 128);
  background-color: rgba(104, 171, 202, 0.164);
  border-color: rgba(112, 186, 236, 0.555);
  border-radius: 5px;
  height: 2rem;
  width: auto;
  padding: 0 10px;
  z-index: 1000;
  
}

header {
  display: flex;
  flex-direction: row; 
  align-items: center;
  
}

.logo1{
  max-width: 100%; 
  width: 4rem;
  
}

.logo2 {
  max-width: 100%; 
  width: 15rem;

}

.titulo{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.76);
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;   
  margin-top: 7rem;        
      
}

.img-proced-1 {
  max-width: 90%; 
  justify-content: center;
  margin-left: 5rem;
  margin-top: 2rem;
}

h3{
  margin-left: 5rem;
  margin-top: 8rem;
  color: rgba(3, 121, 3, 0.726);
}

p{
  margin-left: 5rem;
  margin-top: -15px;
  color: rgba(34, 36, 34, 0.87);
}


@media (max-width: 768px) {
  .div-logo {
    flex-direction: column;
    
  }

  header {
    flex-direction: column;
  }

  .titulo{
    font-size: 2rem;
    margin-top: 2rem;
  }

  .logo1 {
    width: 6rem;
    margin-right: 12rem;
  }

  .logo2{
    width: 17rem;
    margin-left: 12rem;
    margin-top: -6rem;
  }

  .principal {
    margin-top: -50px;
  }

  .img-proced-1 {
    margin-left: 0;
    margin-top: 1rem;
    max-width: 100%;
  }

  h3, p {
    margin-left: 1rem;
    margin-right: 1rem;
    
  }
}

@media (max-width: 480px) {

  .titulo{
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  .logo1 {
    width: 4rem;
    margin-right: 8rem;
  }

  .logo2{
    width: 12rem;
    margin-left: 7rem;
    margin-top: -4.5rem;
  }

  .principal {
    margin-top: -12rem;
  }

  h3 {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
}